* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 255, 255);
}

.myContainer {
  height: 100vh;
  background-color: aquamarine;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.scroll {
  height: 70vh;
  background-color: aqua;
}

.item {
  height: 20vh;
}

.attached {
  display: flex;
  width: auto;
  /* margin-top: 10px; */
  padding: 0 50px;
  justify-content: space-between;
  align-items: center;
  background-color: aqua;
  position: sticky;
  bottom: 0px;
  left: 5%;
  right: 5%;
}

.under-navbar {
  margin-top: 56px;
}

/* .cartContainer {
  position: relative;
} */

.cart {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cartNotification {
  transform: translate(22px, -41px);
  position: absolute;
  padding: 4px 6px;
  background-color: red;
  color: white;
  border-radius: 50%;
}

.cartItem {
  display: flex;
  justify-content: space-around;
  margin: 10px 0;
}

.cartItemImage {
  width: 30%;
}

.cartItemImage img{
  border-radius: 5px;
}

.cartItemInfo {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.removeCartItem {
  display: flex;
  align-items: center;
  width: 10%;
}

.removeCartItem button {
  background: none;
  border: none;
}

.cartTotalSection {
  display: flex;
  width: auto;
  /* margin-top: 10px; */
  padding: 0 50px;
  justify-content: space-between;
  align-items: center;
  background-color: aqua;
  position: sticky;
  bottom: 0px;
  left: 5%;
  right: 5%;
}

.listItem {
  padding: 7px;
  width: 300px;
  border-radius: 5px;
}

.newLabel {
  position: absolute;
  background-color: aquamarine;
  font-size: 1.4em;
  width: 90px;
  height: 40px;
  border-radius: 50% 0 50% 0;
  display: flex;
  justify-content: center;
}

/* .itemCard {
  background-color: rgb(204, 222, 245);
} */

.listItemTextContainer {
  margin: 20px 0px 10px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.cartControls {
  display: flex;
  justify-content: space-around;
  margin: 22px 0px;
}

.cartControls > button {
  width: 50%;
}

.quantityControls {
  display: flex;
  justify-content: space-around;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(81 92 104);
  width: 45%;
}

.quantityControls button {
  width: 45px;
  border: none;
  background: none;
  font-size: 1.6em;
  font-weight: 600;
}

.quantityControls p {
  display: flex;
  border: 0;
}

