* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 255, 255);
  padding-top: 56px;
}

a {
  text-decoration: none;
  color: black;
}

/* ------------------- Test ------------------ */

.myContainer {
  height: calc(100vh - 56px);
  width: 100vw;
  background-color: rgb(218, 168, 168);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  overflow: auto;
}

.innerContainer {
  display: grid;
  align-items: center;
  overflow: scroll;
  height: 18%;
  width: 90%;
  padding: 8px 0;
  background-color: rgb(202, 228, 250);
  
}

.scroll {
  display: flex;
  align-items: center;
  justify-content: start;
  height: 95%;
  width: 200%;
  background-color: rgb(91, 165, 165);
  overflow-y: scroll;
}

.item {
  display: inline-block;
  height: 98%;
  width: 80px;
  margin: 2px;
  background-color: antiquewhite;
  font-size: 2.4em;
}

.fixed {
  height: 8%;
  width: 90%;
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5em;
}

.offcanvas-header {
  height: 62px;
}

.cartContainer {
  height: calc(100vh - 62px);
  overflow: hidden;
  padding: 0;
}

.cart {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.cartNotification {
  transform: translate(22px, -41px);
  position: absolute;
  padding: 4px 6px;
  background-color: red;
  color: white;
  border-radius: 50%;
}

.cartItemList {
  background-color: rgb(233 237 237);
  height: 92%;
  overflow: hidden;
  overflow-y: scroll;
}

.cartItem {
  display: flex;
  justify-content: space-around;
  margin: 10px 0;
}

.cartItemImage {
  width: 30%;
}

.cartItemImage img{
  border-radius: 5px;
}

.cartItemInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  padding: 8px 0;
}

.removeCartItem {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10%;
}

.removeCartItem button {
  background: none;
  border: none;
}

.cartTotalSection {
  display: flex;
  width: auto;
  height: 8%;
  padding: 0 50px;
  justify-content: space-between;
  align-items: center;
  /* background-color: aqua; */
  position: sticky;
  bottom: 0px;
  left: 5%;
  right: 5%;
}

.totalUnitPrice {
  display: flex;
  gap: 7px;
}

.totalUnitPrice h6 {
  line-height: normal;
}

.cartItemInfo > h6 {
  text-align: end;
}

.listItem {
  padding: 7px;
  width: 300px;
  border-radius: 5px;
}

.newLabel {
  position: absolute;
  background-color: aquamarine;
  font-size: 1.4em;
  width: 90px;
  height: 40px;
  border-radius: 50% 0 50% 0;
  display: flex;
  justify-content: center;
}

/* .itemCard {
  background-color: rgb(204, 222, 245);
} */

.listItemTextContainer {
  margin: 20px 0px 10px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.cartControls {
  display: flex;
  justify-content: space-around;
  margin: 22px 0px;
}

.cartControls > button {
  width: 50%;
}

.quantityControls {
  display: flex;
  justify-content: space-around;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(81 92 104);
  width: 45%;
}

.quantityControls button {
  width: 45px;
  border: none;
  background: none;
  font-size: 1.6em;
  font-weight: 600;
}

.quantityControls p {
  display: flex;
  border: 0;
}

/* ----------------- Product detail ------------------ */

.productDetail {
  height: calc(100vh - 56px);
}

.productDetail section {
  height: 100%;
  background-color: rgb(225, 255, 246);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.productDetail section:nth-child(2) {
  background-color: bisque;
}

.productDetail > section > div {
  background-color: rgb(233, 217, 217);
}

.productDetail .productHeader {
  height: 14%;
}

.myCarousel .carousel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.productDetail .myCarousel {
  height: 63%;
}

.indicatorSectionContainer {
  display: grid;
  align-items: center;
  overflow: scroll;
  width: 100%;
  height: 15%;
  order: 1;
}

.carousel-indicators {
  display: flex;
  justify-content: left;
  position: static;
  margin: 0;
  height: 100%;
  overflow-y: hidden;
  overflow-x: scroll;
  width: 200%;
}

.carousel-indicators [data-bs-target] {
  
  height: 100%;
  width: 70px;
  border-bottom: 0;
  border-top: 0;
}

.carousel-indicators button {
  height: 100%;
  background-color: aquamarine;
}

.carousel-inner {
  order: 0;
  height: 83%;
}

.carousel-control-prev {
  bottom: calc(17%);
}

.carousel-control-next {
  bottom: calc(17%);
}

.myCarousel img {
  height: 100%;
}

.productDetail .mainDetails {
  height: 20%;
}
