* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 255, 255);
}

.under-navbar {
  margin-top: 56px;
}

.listItem {
  padding: 7px;
  width: 300px;
  border-radius: 5px;
}

.newLabel {
  position: absolute;
  background-color: aquamarine;
  font-size: 1.4em;
  width: 90px;
  height: 40px;
  border-radius: 50% 0 50% 0;
  display: flex;
  justify-content: center;
}

/* .itemCard {
  background-color: rgb(204, 222, 245);
} */

.listItemTextContainer {
  margin: 20px 0px 10px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.cartControls {
  display: flex;
  justify-content: space-around;
  margin: 22px 0px;
}

.cartControls > button {
  width: 50%;
}

.quantityControls {
  display: flex;
  justify-content: space-around;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(81 92 104);
  width: 45%;
}

.quantityControls button {
  width: 45px;
  border: none;
  background: none;
  font-size: 1.6em;
  font-weight: 600;
}

.quantityControls p {
  display: flex;
  border: 0;
}

